/* #ri{
  border: 1px solid red;
}
#ri2{
  border: 1px solid red;
}
#ss{
  border: 1px solid red;
}
#dd{
  border: 1px solid red;
}
#aa{
  border: 1px solid red;
  */
  #hr{
   border-top: 1px solid #212121;
  }
 